#cs_sidebar {
	width: 15%;
	display: inline-block;
	padding: 0 11px 0 0;
}
#cs_sidebar .title_bar {
	margin: 0;
}
#cs_item_container {
	width: 84%;
	display: inline-block;
}
.cs_item {
    float: left;
    width: 200px;
    margin: 0 5px 0 0;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 8px;
}

.cs_item h3 {
    font-size: 18px;
    text-align: center;
}
.cs_image {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	padding: 10px 0 0 0;
}
.cs_image img {
	max-width: 100%;
	max-height: 100%;
}

.cs_item .price {
    display: block;
    font-weight: bold;
    font-size: 14px;
}
