#item_title {
    font-size: 25px;
}

#item_thumbnail {
    float: left;
    display: block;
    max-width: 180px;
    max-height: 200px;
}

#item_description {
    margin-left: 200px;
    padding: 10px;
}

#item_photo_slider {
    border: 1px solid #cecece;
    font-size: 18px;
    text-align: center;
    padding: 10px;
}
#buttons {
	float: right;
	padding: 0 10px;
}
#buy_now {
	color: #FFF;
	background: #5cb85c;
	border-color: #4cae4c;
}
#buy_now:hover {
	background: #449d44;
	border-color: #398439;
}

#feedback {
	clear: both;
	padding-top: 15px;
}
#feedback .windowbg {}
#feedback .user_information {
	float: right;
	font-style: italic;
}