#item_title {
    font-size: 25px;
}

#item_thumbnail {
    float: left;
    display: block;
    max-width: 180px;
    max-height: 200px;
}

#item_description {
    margin-left: 200px;
    padding: 10px;
}

#item_photo_slider {
    border: 1px solid #cecece;
    font-size: 18px;
    text-align: center;
    padding: 10px;
}
#buttons {
	float: right;
	padding: 0 10px;
}
#buy_now {
	color: #FFF;
	background: #5cb85c;
	border-color: #4cae4c;
}
#buy_now:hover {
	background: #449d44;
	border-color: #398439;
}

#feedback {
	clear: both;
	padding-top: 15px;
}
#feedback .windowbg {
	margin: 0;
	border-radius: 0;
	border-top: 0;
	box-shadow: 0;
}
#feedback .user_information {
	float: right;
	font-style: italic;
}
#cs_reply {
	margin: 15px 0 0 0;
}
#cs_reply span {
	cursor: pointer;
}
#cs_preview {
	border-radius: 3px;
	border: 1px solid #d9d9d9;
	min-height: 200px;
	position: relative;
}
#cs_preview .windowbg {
	min-height: inherit;
}
#cs_editor_switch, #cs_preview_switch {
	border-radius: 3px 3px 0 0;
	padding: 5px 5px 0;
	margin: 5px 0 0 5px;
	background: #f7f7f7;
	border: 1px solid #d9d9d9;
	border-bottom: none;
	font-size: 14px;
}
#cs_editor_switch.enabled, #cs_preview_switch.enabled {
	background: #FFF;
	font-weight: 600;
}
.cs_content {
	display: none;
}
.cs_content.enabled {
	display: inherit;
}
